html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;

 //background-color: $w;
  color: $pt;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}